body{
    background-color: #cdb392;
    margin: 0;
    font-family: Arial, sans-serif;
}

#block{
    width: 70%;
    margin: 20px auto;
    padding: 30px;
    background-color: #f2f1ea;
    border: 2px solid #fcfcdd;
    border-radius:20px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
img{
    background-repeat: no-repeat;
    width:100%;
    max-width: 450px;
    height:auto;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 15px;
}

table {
    border-collapse:collapse;
    width: 100%;
}

th, td {
    border: none;
    padding: 12px;
    text-align: left;
}

.bold{
    font-weight: bold;
    color:#6f591c
}

#notbold{
    font-weight: normal;
}
tr{
  border-bottom: 1px solid brown;
}
tr:last-child {
    border-bottom: none;
}
th {
    background-color: #f2f1ea;
    word-spacing: 10px;
}

li{
    padding-left: 20px;
    margin-bottom: 5px;
}

#tabela{
    margin:20px auto;
    border-radius: 10px;
    padding: 15px; 
}

.linje{
    background-color: #563333;
    border: none;
    padding-top: 0.1px;
    margin-top: 20px;
}

#block2{
    border:1px #f8f6e4 solid;
    background-color: #f6e4d5;
    border-radius:25px;
    padding-left:15px;
    padding-top:5px;
}


@font-face {
    font-family: 'MyFont';
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face{
    font-family: 'MyOtherFont';
    src:url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
}

#titulli{
    font-family:'MyFont';
    font-weight: lighter;
}

p, table, li {
    font-family: 'MyOtherFont';
    font-size:small;
    font-weight:300;
    color: #563333;
    line-height: 1.5;
}

#nentitulli{
    color:#61316e;
    font-weight: bold;
    padding-right:10px;
}

span{
    font-weight:600;
    font-size: small;
}

#nentitulli2, #nentitulli3,#nentitulli4{
    font-size:1.2em;
    font-family:'MyFont';
    color:#6f591c;
    margin-top: 25px;
    margin-bottom:15px
}







